// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// File:    Brand footer
// Project: Magensinus Education
// -------------------------------------------------------------

$class: "brand-footer";

.#{$class} {
  .#{$class}-box {
    .#{$class}-item {
      a {
        float: left;
        line-height: 32px;
        width: 224px;
        img {
          float: left;
          line-height: 32px;
          width: 224px;
        }
      }
    }
  }
}

// Media Query 240px
// -------------------------------------------------------------
@media #{$double-extra-small} {
  .#{$class} {
    float: right;
    width: auto;
    .#{$class}-box {
      .#{$class}-item {
      }
    }
  }
}

// Media Query 360px
// ------------------------------------------------------------
@media #{$extra-small} {
  .#{$class} {
    float: right;
    width: auto;
    .#{$class}-box {
      .#{$class}-item {
      }
    }
  }
}

// Media Query 480px
// -------------------------------------------------------------
@media #{$small} {
  .#{$class} {
    float: right;
    width: auto;
    .#{$class}-box {
      .#{$class}-item {
      }
    }
  }
}

// Media Query 720px
// -------------------------------------------------------------
@media #{$medium} {
  .#{$class} {
    .#{$class}-box {
      .#{$class}-item {
      }
    }
  }
}

// Media Query 960px
// -------------------------------------------------------------
@media #{$large} {
  .#{$class} {
    .#{$class}-box {
      .#{$class}-item {
      }
    }
  }
}

// Media Query 1440px
// -------------------------------------------------------------
@media #{$extra-large} {
  .#{$class} {
    .#{$class}-box {
      .#{$class}-item {
      }
    }
  }
}

// Media Query 1920px
// -------------------------------------------------------------
@media #{$double-extra-large} {
  .#{$class} {
    .#{$class}-box {
      .#{$class}-item {
      }
    }
  }
}
