/ Courses

.separator.medium
.courses
  .courses-box
    - objects.each do |object|
      - if object.title.presence
        .courses-item
          %h2= object.title
      - if object.description.presence
        .courses-item
          = safe_join([object.try(:description).html_safe])
      - if @courses.presence
        - @courses.each do |course|
          = render "course_thumb", course: course
        .separator.medium
