/* Index */

.container-top.left
  = render partial: "breadcrumbs"
.container-middle.left
  = render partial: "object", locals: { object: @object }
  = render partial: "objects", locals: { assets: @objects }
.container-bottom.left
